/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

/**
 * yue.css
 *
 * yue.css is designed for readable content.
 *
 * Copyright (c) 2013 - 2014 by Hsiaoming Yang.
 */

.yue {
  font: 400 18px/1.62 "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
  color: #444443;
}

.windows .yue {
  font-size: 16px;
  font-family: "Georgia", "SimSun", sans-serif;
}

.yue ::-moz-selection {
  background-color: rgba(0,0,0,0.2);
}

.yue ::selection {
  background-color: rgba(0,0,0,0.2);
}

.yue h1,
.yue h2,
.yue h3,
.yue h4,
.yue h5,
.yue h6 {
  font-family: "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", "SimSun", sans-serif;
  color: #222223;
}

.yue h1 {
  font-size: 1.8em;
  margin: 0.67em 0;
}

.yue > h1 {
  margin-top: 0;
  font-size: 2em;
}

.yue h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

.yue h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

.yue h4,
.yue h5,
.yue h6 {
  font-size: 1em;
  margin: 1.6em 0 1em 0;
}

.yue h6 {
  font-weight: 500;
}

.yue p {
  margin-top: 0;
  margin-bottom: 1.46em;
}

.yue a {
  color: #111;
  word-wrap: break-word;
  -webkit-text-decoration-color: rgba(0, 0, 0, 0.4);
          text-decoration-color: rgba(0, 0, 0, 0.4);
}

.yue a:hover {
  color: #555;
  -webkit-text-decoration-color: rgba(0, 0, 0, 0.6);
          text-decoration-color: rgba(0, 0, 0, 0.6);
}

.yue h1 a,
.yue h2 a,
.yue h3 a {
  text-decoration: none;
}

.yue strong,
.yue b {
  font-weight: 700;
  color: #222223;
}

.yue em,
.yue i {
  font-style: italic;
  color: #222223;
}

.yue img {
  max-width: 100%;
  height: auto;
  margin: 0.2em 0;
}

.yue a img {
  /* Remove border on IE */
  border: none;
}

.yue figure {
  position: relative;
  clear: both;
  outline: 0;
  margin: 10px 0 30px;
  padding: 0;
  min-height: 100px;
}

.yue figure img {
  display: block;
  max-width: 100%;
  margin: auto auto 4px;
  box-sizing: border-box;
}

.yue figure figcaption {
  position: relative;
  width: 100%;
  text-align: center;
  left: 0;
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  color: #666665;
}

.yue figure figcaption a {
  text-decoration: none;
  color: #666665;
}

.yue hr {
  display: block;
  width: 14%;
  margin: 40px auto 34px;
  border: 0 none;
  border-top: 3px solid #dededc;
}

.yue blockquote {
  margin: 0 0 1.64em 0;
  border-left: 3px solid #dadada;
  padding-left: 12px;
  color: #666664;
}

.yue blockquote a {
  color: #666664;
}

.yue ul,
.yue ol {
  margin: 0 0 24px 6px;
  padding-left: 16px;
}

.yue ul {
  list-style-type: square;
}

.yue ol {
  list-style-type: decimal;
}

.yue li {
  margin-bottom: 0.2em;
}

.yue li ul,
.yue li ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 14px;
}

.yue li ul {
  list-style-type: disc;
}

.yue li ul ul {
  list-style-type: circle;
}

.yue li p {
  margin: 0.4em 0 0.6em;
}

.yue .unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.yue code,
.yue tt {
  color: #808080;
  font-size: 0.96em;
  background-color: #f9f9f7;
  padding: 1px 2px;
  border: 1px solid #dadada;
  border-radius: 3px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  word-wrap: break-word;
}

.yue pre {
  margin: 1.64em 0;
  padding: 7px;
  border: none;
  border-left: 3px solid #dadada;
  padding-left: 10px;
  overflow: auto;
  line-height: 1.5;
  font-size: 0.96em;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  color: #4c4c4c;
  background-color: #f9f9f7;
}

.yue pre code,
.yue pre tt {
  color: #4c4c4c;
  border: none;
  background: none;
  padding: 0;
}

.yue table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.5em;
  font-size: 0.96em;
  box-sizing: border-box;
}

.yue th,
.yue td {
  text-align: left;
  padding: 4px 8px 4px 10px;
  border: 1px solid #dadada;
}

.yue td {
  vertical-align: top;
}

.yue tr:nth-child(even) {
  background-color: #efefee;
}

.yue iframe {
  display: block;
  max-width: 100%;
  margin-bottom: 30px;
}

.yue figure iframe {
  margin: auto;
}

.yue table pre {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

@media (min-width: 1100px) {
  .yue blockquote {
    margin-left: -24px;
    padding-left: 20px;
    border-width: 4px;
  }

  .yue blockquote blockquote {
    margin-left: 0;
  }
}/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
        color: black;
        background: none;
        text-shadow: 0 1px white;
        font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
        direction: ltr;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        line-height: 1.5;

        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4;

        -webkit-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
        text-shadow: none;
        background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
        text-shadow: none;
        background: #b3d4fc;
}

@media print {
        code[class*="language-"],
        pre[class*="language-"] {
                text-shadow: none;
        }
}

/* Code blocks */
pre[class*="language-"] {
        padding: 1em;
        margin: .5em 0;
        overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
        background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
        padding: .1em;
        border-radius: .3em;
        white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
        color: slategray;
}

.token.punctuation {
        color: #999;
}

.namespace {
        opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
        color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
        color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
        color: #a67f59;
        background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
        color: #07a;
}

.token.function {
        color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
        color: #e90;
}

.token.important,
.token.bold {
        font-weight: bold;
}
.token.italic {
        font-style: italic;
}

.token.entity {
        cursor: help;
}
html, body {
  padding: 0;
  margin: 0;
}

.sep {
  margin: 0 18px;
}
/* layout */
.header {
  font-size: 16px;
  font-family: "Optima", "Avenir", "Helvetica Neue", sans-serif;
  padding: 20px 10px;
}
.header a {
  color: #323233;
}
.header a:hover {
  opacity: 0.6;
}
.header .menu {
  text-align: right;
}
.header .brand {
  float: left;
  margin-right: 30px;
  text-transform: uppercase;
}
.brand:before {
  content: '\BB';
}
.brand a {
  text-decoration: none;
}
.menu a {
  margin-left: 14px;
}
.container {
  max-width: 640px;
  *width: 650px;
  margin: 0 auto;
  zoom: 1;
}
.container:after {
  content: " ";
  display: block;
  visibility: none;
  clear: both;
}
.document {
  max-width: 640px;
  *width: 650px;
  margin: 0 auto;
  padding: 30px 10px;
}
.footer {
  margin: 0 auto;
  max-width: 500px;
  *width: 500px;
  color: #555;
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  line-height: 1.3;
  padding: 20px 20px 30px;
}
.copyright {
  text-align: center;
  color: #ddd;
}
.copyright a {
  color: #ddd;
}
@media (max-width: 650px) {
  .footer {
    padding-bottom: 10px;
  }
}

/* entry */
.entry-meta {
  border-top: 1px solid #eee;
  padding-top: 10px;
  color: #565655;
  font-size: smaller;
}
.entry-description {
  color: #676867;
  font-size: larger;
}
.entry-tags a:before {
  content: '#';
  color: #ccc;
}
.entry-list .item {
  margin-bottom: 1em;
}
.entry-list .item-title {
  font-size: 16px;
  margin-bottom: 0;
}
.entry-list .item-description {
  color: #565655;
  font-size: 16px;
  padding-left: 84px;
}
.entry-list .item-description p {
  margin: 0;
}
.entry-list .item time {
  display: inline-block;
  width: 80px;
  font: normal 12px monospace;
  color: #999;
}

.document a.title-permalink {
  margin-left: 4px;
  padding: 0 4px;
  text-decoration: none;
  color: #f0f0f2;
}
.document a.title-permalink:hover {
  color: #5784bf;
  background-color: #eee;
}

/* pagination */
.pagination {
  position: relative;
  margin-top: 40px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Optima", "Avenir", "Helvetica Neue", sans-serif;
}
.pagination .newer {
  position: absolute;
  text-decoration: none;
  left: 0;
}
.pagination .older {
  position: absolute;
  text-decoration: none;
  right: 0;
}
.pagination .newer:before {
  content: "\AB";
}
.pagination .older:after {
  content: "\BB"
}

/* extra widget */
.github {
  position: fixed;
  top: 40px;
  right: -50px;
  border: 2px solid #121622;
  box-shadow: 0 0 8px #555;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.github:hover {
  box-shadow: 0 0 12px #444;
}
.github .github-link {
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  padding: 2px 0;
  width: 200px;
  border: 1px dotted #383C46;
  background-color: #121622;
  color: #ECEDEE;
  text-decoration: none;
  text-align: center;
}
@media (max-width: 890px) {
  .github {
    display: none;
  }
}

.document a.button {
  display: inline-block;
  padding: 1em;
  margin: 0;
  background-color: #222223;
  color: #fcfcfd;
  text-transform: uppercase;
  border: none;
  text-decoration: none;
  outline: none;
  border-radius: 3px;
  text-align: center;
  letter-spacing: 0.1em;
  font: bold 0.7em/1 "Arial", sans-serif;
  cursor: pointer;
  vertical-align: middle;
}
.document a.button:hover {
  opacity: 0.9;
  color: white;
}

.tagcloud {
  margin-bottom: 2em;
}
.tagcloud .count {
  font-size: 12px;
}
.tagcloud a {
  display: inline-block;
  margin: 0.2em 0.4em;
  opacity: 0.6;
}
.tagcloud a:hover {
  opacity: 1;
}
